/* BUTTONS */
.c-post__buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: .5rem;
  padding: 1rem 0;
}

.c-post__buttons__numbers {
  display: flex;
  gap: .5rem;
}

[data-controller] {
  cursor: pointer;
  border-radius: 3px;
  padding: .3rem .5rem;
  background: rgba(255, 255, 255, .1);
  color: cyan;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, .05);
}

[data-controller]:hover {
  box-shadow: 0 1px 1px 2px cyan;
}

[data-controller]:active {
  transform: scale(.95)
}

[data-controller].active {
  background: cyan;
  color: var(--secondary-color);
}

[data-controller].hidden {
  display: none;
}